---
# Special parameters for VPN nodes

sysctl_settings:
  net.ipv4.ip_forward: 1
  net.ipv4.conf.all.rp_filter: 1
  net.ipv4.tcp_syncookies: 1
  net.ipv4.conf.all.accept_redirects: 0
  net.ipv4.conf.all.send_redirects: 0
  net.ipv4.icmp_echo_ignore_broadcasts: 1
  kernel.kptr_restrict: 2
  kernel.dmesg_restrict: 1
