---

- name: Install Zsh & FZF
  apt:
    name:
      - zsh
      - fzf
    state: present
  when: ansible_facts['os_family'] == 'Debian'

- name: Set default shell for user
  user:
    name: "{{ username }}"
    shell: /usr/bin/zsh

- name: Create .zsh directory
  file:
    path: "{{ user_home }}/.zsh"
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: '0755'
