---

- name: Create SSH keypair
  openssh_keypair:
    path: /home/{{ ansible_user }}/.ssh/ed25519
    type: rsa
    size: 4096
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0600'

- name: Read public key
  slurp:
    src: /home/{{ ansible_user }}/.ssh/ed25519.pub
  register: ops_pub_file

- set_fact:
    ops_pub: "{{ ops_pub_file.content | b64decode }}"

- name: Install authorized keys from all nodes
  authorized_key:
    user: "{{ ansible_user }}"
    key: "{{ hostvars[item].ops_pub }}"
  loop: "{{ groups['all'] }}"
