---
- name: Install fail2ban
  apt:
    name: fail2ban
    state: present

- name: Configure fail2ban jail
  copy:
    dest: /etc/fail2ban/jail.local
    content: |
      [sshd]
      enabled = true
      port = {{ ssh_port }}
      logpath = /var/log/auth.log
      maxretry = 5
  notify: restart fail2ban
