---
# Install and configure Fail2ban to protect SSH from brute-force attacks.

- name: Install fail2ban
  apt:
    name: fail2ban
    state: present
  when: ansible_facts['os_family'] == 'Debian'

- name: Configure fail2ban jail
  template:
    src: jail.local.j2
    dest: /etc/fail2ban/jail.local
  notify: restart fail2ban
