[Interface]
PrivateKey = {{ wg_peer_private_key }}
Address = {{ wg_allowed_ip }}

[Peer]
PublicKey = {{ wg_public_key }}
Endpoint = {{ vpn_endpoint }}:{{ vpn_port }}
AllowedIPs = {{ local_network }}, {{ wg_network }}
PersistentKeepalive = 25
