# {{ ansible_managed }}
[Unit]
Description=Run the internet speed check on a schedule

[Timer]
OnCalendar={{ speedtest_schedule }}
Persistent=true
RandomizedDelaySec=60

[Install]
WantedBy=timers.target
