{
    "server": "{{ ss_proxy_url }}",
    "server_port": {{ ss_proxy_port }},
    "password": "{{ ss_proxy_password }}",
    "method": "aes-256-gcm",
    "mode": "tcp_and_udp",
    "local_address": "127.0.0.1",
    "local_port": "1080"
}
