---

- name: Install wireguard
  apt:
    name: wireguard
    state: present
  when: ansible_facts['os_family'] == 'Debian'

- name: Create WireGuard config directory
  file:
    path: /etc/wireguard
    state: directory
    mode: "0700"

- name: Create WireGuard Peer config directory
  file:
    path: /etc/wireguard/peer
    state: directory
    mode: "0700"
