---
common_packages:
  - ca-certificates
  - curl
  - wget
  - unzip
  - zip
  - tar
  - vim
  - nano
  - git
  - jq
  - lsof
  - htop
  - net-tools
  - traceroute
  - dnsutils
  - python3
  - python3-pip
  - python3-venv
  - rsync
  - software-properties-common
  - acl


common_firewall_enabled: false

common_harden_ssh: true
