extends: default

rules:
  new-lines:
    type: unix   # Требуем LF, но ошибки уйдут после конвертации

  document-start: disable   # Ansible не требует ---
  line-length: disable      # В Ansible часто длинные строки
  truthy: disable           # Ansible разрешает yes/no

  indentation:
    indent-sequences: false

  braces: disable           # Слишком строгая проверка, лучше выключить
  comments:
    min-spaces-from-content: 1
